:root {

    --black-color: #0C2146;
    --lightgrey-color: #CCCCCC;
    --yellow-color: #FFC970;
    --blue-color: #00579F;
    --grey-footer-color: #333333;
    --grey-container-color: #ececec;
    
}