:root {

    @font-face {
        font-family: 'Red Hat';
        src: url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500&display=swap');
    }

    @font-face {
        font-family: 'Inter';
        src: url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
    }

    .title-big {
        font-family: 'Red Hat', sans-serif;
        font-weight: 500;
        font-size: 36px;
        line-height: 36px;
    }
    
    .title-medium {
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 150%;
        text-align: center;
        margin: 30px 0;
    }
    
    .title-small {
        font-family: 'Inter', sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.0275em;
        margin: 20px 0;
    }
    
    .text-general {
        font-family: 'Inter', sans-serif;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.0275em;
    }

}