<app-header></app-header>

<div class="container-fluid">

  <div class="content">

    <div class="content__card">
  
      <router-outlet></router-outlet>

  </div>

</div>

<app-footer></app-footer>
