.container-fluid{
    padding: 0;
}

.content{
    background-color: var(--grey-container-color);
    padding: 80px 260px;

    &__card{
        background-color: white;
        border-radius: 10px;
        padding: 30px 40px;
    }
}