.c-header{

    &__head{
        display: flex;
        justify-content: center;
        background-color: white ;

        &__logo{
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(73,155,234,1);
            background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(52,128,199,1) 48%, rgba(15,67,122,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(48%, rgba(52,128,199,1)), color-stop(100%, rgba(15,67,122,1)));
            background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(52,128,199,1) 48%, rgba(15,67,122,1) 100%);
            background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(52,128,199,1) 48%, rgba(15,67,122,1) 100%);
            background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(52,128,199,1) 48%, rgba(15,67,122,1) 100%);
            background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(52,128,199,1) 48%, rgba(15,67,122,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#0f437a', GradientType=1 );
            border-radius: 5px;
            width: 40px;
            height: 40px;
            margin: 30px 10px;
            
            &__letter{
                width: 25px;
                height: 25px;
            }
        }

        &__text{
            margin: 32px 0;
        }
    }
    
    &__nav{
        display: flex;
        justify-content: center;
        color: var(--grey-navbar-color);
        background-color: var(--yellow-color);

        &__element{
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 8px 0;
            border-radius: 10px;

            &--active{
                color: #00579F;
                background: rgba(235, 242, 255, 0.3);
            }

            &:hover{
                cursor: pointer;
                color: #00579F;
                background: rgba(235, 242, 255, 0.3);
            }
        }
    }

    &__icon{
        padding-top: 9px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 5px;
    }

    &__text{
        font-family: 'Inter', sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 150%;
        letter-spacing: 0.0275em;
        padding-bottom: 5px;
    }

}