<div class="c-header">

    <div class="c-header__head">
        
        <div class="c-header__head__logo">
            <img class="c-header__head__logo__letter" src="../../../../assets/img/Letter.png">
        </div>
        <span class="c-header__head__text title-big">Shopéame!</span>

    </div>
    
    <nav class="c-header__nav">

        <div routerLink="" routerLinkActive="c-header__nav__element--active" [routerLinkActiveOptions]="{exact: true}" class="c-header__nav__element">
            <i class="c-header__icon fas fa-radiation"></i>
            <span class="c-header__text">Home</span>
        </div>

        <div routerLink="/products" routerLinkActive="c-header__nav__element--active"  class="c-header__nav__element">
            <i class="c-header__icon fas fa-binoculars"></i>
            <span class="c-header__text">Prods.</span>
        </div>

        <div routerLink="/management" routerLinkActive="c-header__nav__element--active"  class="c-header__nav__element">
            <i class="c-header__icon fas fa-dharmachakra"></i>
            <span class="c-header__text">Gestión</span>
        </div>

    </nav>

</div>
