<div class="c-footer">
    <p class="text-general">Siguenos en:</p>
    <span> Twitter </span>
    <span> | </span>
    <span> Facebook </span>
    <span> | </span>
    <span> Instagram </span>
    <span> | </span>
    <span> TikTok </span>
    <p class="c-footer__copyright">Copyright Shopéame © 2020</p>
</div>
